{
    # Global options
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges
    }
}

{$PORT} {
    # Access logs
    log {
        format json
    }

    # Serve from Reflex export folder
    root * .web/_static

    # Enable compression
    encode gzip

    # File server configuration
    file_server

    # Pretty URL handling
    try_files {path} {path}.html

    # Backend proxy
    handle_path /backend/* {
        reverse_proxy 127.0.0.1:8000
    }

    # Error handling
    handle_errors {
        rewrite * /{err.status_code}.html
        file_server
    }
}